# 시리즈 연산
#### series_new = series + 1 (* / -), 각 value에 계산
#### 시리즈끼리 연산 가능함, 같은 key를 가진 value와 연산됨 
#### 방법1. series1 + series2 이런식 
#### 같은 크기의 시리즈를 구성으로 데이터프레임을 만들 수 있다.
#### df = pd.DataFrame([series1, series2, ... ] 시리즈의 키는 열이된다. 
#### 방법2. 시리즈 메소드 사용 add ,sub, mul, div , series1.add(series2)이런식을 사용
#### 인덱스에 해당 값이 없을때, fill_value를 사용하여 산술연산을 수행한다.
#### series1.add(series2, fill_value = 50) 만약 series2 에 1에 있는 키값이 없는 경우에는 값을 50으로 해서 계산을 수행한다는 의미
#### 부족한 경우에 사용가능하다는 것 
#### 서로 key의 개수는 같은데 key가 다른경우 같은 것만 해당연산을 수행하고 다른 key는 연산을 하지 않고 NaN을 값으로 반환

# 데이터프레임 연산 
#### import seaborn as sns , iris = sns.load_dataset('iris'), sns안에 iris라는 데이터 프레임이 있음 .
#### iris.head() iris라는 데이터프레임중 상위 5개의 행만 불러온다
#### df = iris.loc[:, [열1, 열2]] , loc[행, 열 ] 전체 행 중에서 열1과 열2의 교집합을 부른다. 
#### df = df + 1 모든 원소값에 1을 더한다는 의미 

#### 행과 열의 크기가 같은 데이터 프레임간의 연산이 가능하다 . ( +행과 열의 정보도 일치한 경우)
#### df1  + df2
#### 크기는 같지만 행과 열의 정보가 일치하지 않는 경우도 가능하다 일치한 경우만 연산을 수행하고 나머지는 NaN을 반환

# 데이터프레임 정보

In [2]:
import pandas as pd
import seaborn as sns
iris = sns.load_dataset('iris')
print(iris.head())
print(iris.tail())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [3]:
iris.shape

(150, 5)

In [5]:
iris.info() #info하고 info()는 다르다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
print(iris.dtypes) #object는 문자열을 의미한다 , df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [8]:
print('sepal_width data_type', iris.sepal_width.dtypes) #df.열.dtypes

sepal_width data_type float64

In [9]:
print(iris.describe()) #object 자료형을 제외한 나머지 값에 대한 갯수, 평균, 표준편차, 최소, .. 등등

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
print(iris.describe(include = 'all')) #object파일을 포함해서 계산

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [13]:
# 각 열의 고유값 개수 화긴하기 
columns = iris.columns #df.index, df.columns
print(columns)
print('\n')
for column in columns:
    unique_count = iris[column].nunique() #df[열].nunique() 해당열의 고유값 개수를 반환한다.
    print('{}고유값 개수: {}'.format(column, unique_count))

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')


sepal_length고유값 개수: 35
sepal_width고유값 개수: 23
petal_length고유값 개수: 43
petal_width고유값 개수: 22
species고유값 개수: 3

In [14]:
iris.count() #각 열의 data갯수를 반환한다.

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64

In [15]:
unique_count = iris['species'].value_counts() #해당열의 어떤 값이 몇개 있는지를 반환한다. df[열].nunique()와 비교

In [16]:
print(unique_count)

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [18]:
#고유값 개수구하는 방법1
print(iris['species'].nunique())

3

In [ ]:
#고유값 개수구하는 방법2