# 시리즈 연산
#### series_new = series + 1 (* / -), 각 value에 계산
#### 시리즈끼리 연산 가능함, 같은 key를 가진 value와 연산됨 
#### 방법1. series1 + series2 이런식 
#### 같은 크기의 시리즈를 구성으로 데이터프레임을 만들 수 있다.
#### df = pd.DataFrame([series1, series2, ... ] 시리즈의 키는 열이된다. 
#### 방법2. 시리즈 메소드 사용 add ,sub, mul, div , series1.add(series2)이런식을 사용
#### 인덱스에 해당 값이 없을때, fill_value를 사용하여 산술연산을 수행한다.
#### series1.add(series2, fill_value = 50) 만약 series2 에 1에 있는 키값이 없는 경우에는 값을 50으로 해서 계산을 수행한다는 의미
#### 부족한 경우에 사용가능하다는 것 
#### 서로 key의 개수는 같은데 key가 다른경우 같은 것만 해당연산을 수행하고 다른 key는 연산을 하지 않고 NaN을 값으로 반환

# 데이터프레임 연산 
#### import seaborn as sns , iris = sns.load_dataset('iris'), sns안에 iris라는 데이터 프레임이 있음 .
#### iris.head() iris라는 데이터프레임중 상위 5개의 행만 불러온다
#### df = iris.loc[:, [열1, 열2]] , loc[행, 열 ] 전체 행 중에서 열1과 열2의 교집합을 부른다. 
#### df = df + 1 모든 원소값에 1을 더한다는 의미 

#### 행과 열의 크기가 같은 데이터 프레임간의 연산이 가능하다 . ( +행과 열의 정보도 일치한 경우)
#### df1  + df2
#### 크기는 같지만 행과 열의 정보가 일치하지 않는 경우도 가능하다 일치한 경우만 연산을 수행하고 나머지는 NaN을 반환

# 데이터프레임 정보

In [2]:
import pandas as pd
import seaborn as sns
iris = sns.load_dataset('iris')
print(iris.head())
print(iris.tail())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [3]:
iris.shape

(150, 5)

In [5]:
iris.info() #info하고 info()는 다르다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
print(iris.dtypes) #object는 문자열을 의미한다 , df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [8]:
print('sepal_width data_type', iris.sepal_width.dtypes) #df.열.dtypes

sepal_width data_type float64

In [9]:
print(iris.describe()) #object 자료형을 제외한 나머지 값에 대한 갯수, 평균, 표준편차, 최소, .. 등등

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
print(iris.describe(include = 'all')) #object파일을 포함해서 계산

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [13]:
# 각 열의 고유값 개수 화긴하기 
columns = iris.columns #df.index, df.columns
print(columns)
print('\n')
for column in columns:
    unique_count = iris[column].nunique() #df[열].nunique() 해당열의 고유값 개수를 반환한다.
    print('{}고유값 개수: {}'.format(column, unique_count))

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')


sepal_length고유값 개수: 35
sepal_width고유값 개수: 23
petal_length고유값 개수: 43
petal_width고유값 개수: 22
species고유값 개수: 3

In [14]:
iris.count() #각 열의 data갯수를 반환한다.

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64

In [15]:
unique_count = iris['species'].value_counts() #해당열의 어떤 값이 몇개 있는지를 반환한다. df[열].nunique()와 비교

In [16]:
print(unique_count)

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [18]:
#고유값 개수구하는 방법1
print(iris['species'].nunique())

3

In [19]:
#고유값 개수구하는 방법2
unique_count = iris['species'].value_counts()
print(unique_count)
print(len(unique_count))

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64
3

# 데이터프레임 통계 함수
#### 데이터에 대한 각종 통계 데이터를 추출할 수 있는 메소드
#### 전체합, 평균값, 표준편차, 중간값, 최대최소값, 상관계수
#### 대부분 int, float에 적용되지만 일부는 문자열에도 사용가능

In [3]:
print(iris.sum()) #각 열별로 있는 데이터를 모두 합한다.

sepal_length                                                876.5
sepal_width                                                 458.6
petal_length                                                563.7
petal_width                                                 179.9
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [4]:
print('sepal_length 총합: ', iris['sepal_length'].sum()) # df[열].sum() 해당열의 value를 다합한값

sepal_length 총합:  876.5

In [5]:
#사용법은 같은, mean, std, median,max, min

In [6]:
#상관계수 : 두열을 한쌍으로 하여 두 변수간의 상관계수(r)을 반환함.
#양의 상관관계 r>0 증증 감감 관계 , 1 에 가까울수록 이것이 더 두드러진다는 의미, 1 이면 두열의 각각의 값은 완전히 같음
#r=-1에 가까울 수록 증감 감증 관계가 더 두드러진다는 의미
print(iris.corr())

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [7]:
#특정 두 열의 상관계수 
print(iris[['sepal_length', 'petal_length']].corr()) #두개의 열을 고를때는 [[]]구조로 반드시 !

              sepal_length  petal_length
sepal_length      1.000000      0.871754
petal_length      0.871754      1.000000

# 데이터 입출력
### 지원파일(대표적인것 ) : csv, json, excel

In [10]:
file_path = './read_sample1.csv' #값들이 ,로 구분된 것, 메모장 저장시 확장자를 csv로 하면된다. 

df1 = pd.read_csv(file_path)
print(df1)

   col1  col2  col3  col4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11
3    12    13    14    15

In [12]:
df2 = pd.read_csv(file_path, header = None)  # csv파일의 첫번째 행이 열이 아니라 값이다라는 의미
print(df2)

      0     1     2     3
0  col1  col2  col3  col4
1     0     1     2     3
2     4     5     6     7
3     8     9    10    11
4    12    13    14    15

In [13]:
df3 = pd.read_csv(file_path, index_col = 'col1') #csv 파일에서 col1 열에 해당하는 것을 index로 사용하겠다! 
print(df3)

      col2  col3  col4
col1
0        1     2     3
4        5     6     7
8        9    10    11
12      13    14    15

In [16]:
#excel파일
#conda install openpyxl 라이브러리 설치 후 엑셀 파일 로드!
#엑셀에서 처리하기 힘든걸 파이썬으로 옮겨서 데이터 처리가능함
#반대로 데이터프레임을 엑셀로 시각화 시키고 싶으면 이동시키면 되고 
file_path = './read_sample1.xlsx'
df1 = pd.read_excel(file_path, engine = 'openpyxl')
print(df1)

   이름 성별  연령   점수  졸업연도
0  기범  남  30   90  2010
1  혜리  여  25   80  2015
2  동엽  남  50  100  1982
3  동현  남  40   50  1993
4  한해  남  32   70  2008

In [18]:
df1 = pd.read_excel(file_path, header = None, engine = 'openpyxl')
print(df1)

    0   1   2    3     4
0  이름  성별  연령   점수  졸업연도
1  기범   남  30   90  2010
2  혜리   여  25   80  2015
3  동엽   남  50  100  1982
4  동현   남  40   50  1993
5  한해   남  32   70  2008

In [19]:
#json파일 key:value 구조를 갖는 특수한 파일 형식

In [21]:
#데이터 출력 하기 csv, excel, json 모두 같음
dict_data = {
    '이름' : ['기범', '혜리', '동엽'],
    '국어' : [100,80,30], '수학' : [90,80,50],
    '영어' : [100,40,90], '음악' : [80,100,40]
}

df = pd.DataFrame(dict_data)
print(df)
print('\n')

   이름   국어  수학   영어   음악
0  기범  100  90  100   80
1  혜리   80  80   40  100
2  동엽   30  50   90   40

In [22]:
df.set_index('이름', inplace = True) #'이름'열을 index로 하겠다.
print(df)

     국어  수학   영어   음악
이름
기범  100  90  100   80
혜리   80  80   40  100
동엽   30  50   90   40

In [23]:
df.to_csv('./write_sample.csv')