# 리스트
## 리스트
### 여러개의 변수를 순차적으로 담을 수 있는 자료구조
### []를 이용하거나 list()를 이용하여 선언
### 파이썬은 다양한 자료형을 하나의 리스트에 담을 수 있음

In [1]:
a_list = [1,2,3,4]

In [3]:
a_list

[1, 2, 3, 4]

In [4]:
tup = ('a','b', 3, 4)
tup_list = list(tup)
tup_list #tuple->list 자료구조 변경

['a', 'b', 3, 4]

In [5]:
tup_list[2] = 10 #tuple과 다르게 list는 원소를 변경할 수 있다.
tup_list

['a', 'b', 10, 4]

In [6]:
gen = range(0,10)
gen

range(0, 10)

In [7]:
gen_list = list(gen)
gen_list #규칙이 있는 수의 나열을 리스트로 만들고 싶다면 range를 활용하자. range(시작, 단계, 끝)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 리스트의 연산

In [13]:
#append 리스트 뒤에 원소 추가, 기존 변수 변경함
s_list = ['apple', 'banana', 'cat']
s_list.append('dog')
s_list

['apple', 'banana', 'cat', 'dog']

In [14]:
#insert 리스트 특정 위치에 원소 추가
s_list.insert(2, 'baby')
s_list

['apple', 'banana', 'baby', 'cat', 'dog']

In [15]:
#remove 특정원소 제거
print(s_list)
s_list.remove('baby')
s_list

['apple', 'banana', 'baby', 'cat', 'dog']

['apple', 'banana', 'cat', 'dog']

In [24]:
#pop 특정위치 원소를 제거함
word = s_list.pop(2) #인덱스 2 의 원소를 반환과 동시에 s_list 에서 제거함.
print(word)
print(s_list)

cat
['apple', 'banana', 'dog']

In [16]:
#in 리스트에 원소가 있는지를 참/ 거짓으로 반환 원소 in 리스트
'apple' in s_list

True

In [17]:
'baby' in s_list

False

## 리스트 정렬
### [sort(), sort(reverse=True), reverse(), sort(key=len)]

In [18]:
#sort 내림차순 정렬 , 대->소, abc...
num_list = [7, 10, 3, 1, 2 ,6]
num_list.sort() 
print(num_list)

[1, 2, 3, 6, 7, 10]

In [19]:
num_list.sort(reverse=True)
print(num_list)

[10, 7, 6, 3, 2, 1]

In [20]:
num_list.reverse()
num_list

[1, 2, 3, 6, 7, 10]

In [21]:
num_list.sort(reverse=True)
print(num_list)

[10, 7, 6, 3, 2, 1]

In [22]:
num_list.sort(reverse=True)
print(num_list)
#reverse는 그냥 현재의 원소위치를 거꾸로 변경하는것 
#sort(reverse=True)는 오름차순으로 정렬임. sort()의 반대

[10, 7, 6, 3, 2, 1]

In [23]:
word_list = ['see', 'Him', 'book', 'six', 'foxes', 'Small']
word_list.sort()
word_list #대->소, abc..

['Him', 'Small', 'book', 'foxes', 'see', 'six']

In [25]:
word_list.sort(key=len) #정렬의 기준값을 key를 이용해서 사용자가 정의할 수 있음 
word_list#글자갯수 크기대로 배열함. 이처럼 list는 다양한 연산이 가능함

['Him', 'see', 'six', 'book', 'Small', 'foxes']

## 리스트 슬라이싱

In [26]:
#리스트의 위치값을 활용하여 특정 원소들을 잘라내서 추출하는 것
#:을 사용하여 범위를 지정할 수 있음.
#zero base, 이상 미만
num_list = [7,10,3,1,2,6,1,2]
num_list[1:5]

[10, 3, 1, 2]

In [27]:
num_list[3:4] = [9,7] #4번째 원소인 1을 9와 7로 대체함. 리스트에서 어떤 원소를 대체하고 싶을 때 이런 방법 사용한다. 
num_list

[7, 10, 3, 9, 7, 2, 6, 1, 2]

In [28]:
print(num_list[4:])
print(num_list[:5])

[7, 2, 6, 1, 2]
[7, 10, 3, 9, 7]

In [29]:
print(num_list[-2:]) #1,2
print(num_list[-6:-2]) #9,7,2,6

[1, 2]
[9, 7, 2, 6]